@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsEncomiendaModel
@{
    var encomienda = Model.Commend;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id:</b> @encomienda.id </li>
  <li class="list-group-item"> <b>Descripcion:</b> @encomienda.descripcion </li>
  <li class="list-group-item"> <b>Peso:</b> @encomienda.peso </li>
  <li class="list-group-item"> <b>Tipo:</b> @encomienda.tipo </li>
  <li class="list-group-item"> <b>Presentacion:</b> @encomienda.presentacion </li>  
</ul>	

<a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.id">Editar</a>
  
<a class="btn btn-primary" asp-page="/Encomienda/List" >Volver</a>