@page
@model ProyectoCiclo3.App.Frontend.Pages.EditServicioModel
@{
      var services = Model.Services;
      
} 

 <h1 align="center">Formulario Edicion  de Servicio</h1>


  <div class="text-justify">

  <form method="POST">

 @*  <label for="id" class="form-label">id:</label>   *@
  <input type="number" class="form-control d-none" id="id" placeholder="id" asp-for="@services.id">
 
 <label for="descripcion" class="form-label">Usuario Origen :</label>
  <select  id="origen"  class="form-control" name="origen" >
        <option value="">-</option>
        @foreach (var usuario in Model.Usuarios)
    {
        <option value="@usuario.id">@usuario.nombre @usuario.apellidos - @usuario.ciudad</option>
    }
    </select> 

 <label for="usuario destino" class="form-label">Usuario Destino:</label>
  <select name="destino" id="destino"  class="form-control">
        <option value="">-</option>
        @foreach (var usuario in Model.Usuarios)
    {
        <option value="@usuario.id">@usuario.nombre @usuario.apellidos - @usuario.ciudad</option>
    }
    </select> 

  <label for="tipo" class="form-label">Fecha:</label>
  <input type="Date" class="form-control" id="fecha" name="fecha" > 
  
 
  <label for="tipo" class="form-label">Hora:</label>
  <input type="Time" class="form-control" id="hora" name="hora" >
  
   <hr>
    <label for="encomienda" class="form-label">Encomienda:</label>
   <select name="encomienda" id="encomienda"  class="form-control" >
        <option value="">-</option>
        @foreach (var encomienda in Model.Encomiendas)
    {
        <option value="@encomienda.id">@encomienda.descripcion</option>
    }
    </select> 

  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  <a class="btn btn-primary" asp-page="/Servicio/List" >Volver</a>
  
  </form>
  </div>
