@page
@model ProyectoCiclo3.App.Frontend.Pages.ListServicioModel
@{
   ViewData["Title"] = "lista de Servicio";
}

<h2 align="center" class="text-secondary">Listado de Servicios</h2>
<a class="btn btn-success" align="center" asp-page="/Servicio/Create" >Crear Servicio <i class="fa fa-plus"></i></a>

<table class="table table-hover table-striped table-bordered table-hover text-info" style="width: 100%">
  <!-- Encabezado de nuestra lista de Usuarios -->
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha Envio</th>
      <th scope="col">Hora Envio</th>      
      <th scope="col">Encomienda</th> 

      <th scope="col">Acciones</th>
     <hr>
    </tr>

  </thead>

  <tbody>

     @foreach (var servicio in Model.Servicio)
      {
        <tr>
            <td>@servicio.id</td>
            <td>@servicio.origen.nombre</td>
            <td>@servicio.destino.nombre</td>
            <td>@servicio.fecha</td>
            <td>@servicio.hora</td>
            <td>@servicio.encomienda.descripcion</td>
                   
              <td>
              <a class="btn btn-info"  asp-page="./Details" asp-route-servicioId="@servicio.id" >Detalle</a>
              <a class="btn btn-primary"  asp-page="./Edit" asp-route-servicioId="@servicio.id">Editar</a>
             </td>
             <td>
              <form align="rigth" method="POST">
              <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@servicio.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
              </td>

        </tr>
      }
  </tbody>
</table>