@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEncomiendaModel
@{
   ViewData["Title"] = "lista de Encomienda";
}

<h2 align="center" class="text-secondary">Listado de Encomienda</h2>
<a class="btn btn-success" align="center" asp-page="/Encomienda/Create" >Crear Encomienda <i class="fa fa-plus"></i></a>

<table class="table table-hover table-striped table-bordered table-hover text-info" style="width: 100%">
  <!-- Encabezado de nuestra lista de Usuarios -->
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tipo</th>
      <th scope="col">Presentacion</th>      
      <th scope="col">Acciones</th>
     <hr>
    </tr>

  </thead>

  <tbody>

     @foreach (var encomienda in Model.Encomienda)
      {
        <tr>
            <td>@encomienda.id</td>
            <td>@encomienda.descripcion</td>
            <td>@encomienda.peso</td>
            <td>@encomienda.tipo</td>
            <td>@encomienda.presentacion</td>
                   
              <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-encomiendaId="@encomienda.id">Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-encomiendaId="@encomienda.id">Editar</a>
             
              <form align="rigth" method="POST">
              <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@encomienda.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
              </td>

        </tr>
      }
  </tbody>
</table>